.container {
    display: flex;
    align-items: center;
    justify-content: center;
  
    height: 1.25rem;
    padding: 2rem 1.5rem;
  
    background-color: var(--blueDark);
    color: var(--gray-100);
  
    border: 0;
    border-radius: 8px;
    gap: 0.5rem;
    box-shadow: none;
  
    line-height: 140%;
    font-weight: bold;
    font-size: 1rem;
  
    transition: 0.2s;
  }
  
  .container:hover {
    background-color: var(--blue);
  }