/* Task.module.css */
.task {
    width: 70%;
    margin: 0 auto;
}

.pTask {
    position: relative;
    display: flex; /* Utiliza flexbox */
    align-items: center; /* Centraliza verticalmente */
    color: var(--gray-100);
    background: var(--gray-500);
    border-radius: 8px;
    padding: 2.5rem;
    margin-bottom: 2rem; /* Espaço entre cada tarefa */
}

.iconButtonLeft {
    background: transparent;
    border: 0;
    color: var(--gray-300);
    cursor: pointer;
    line-height: 0;
    border-radius: 2px;
    margin-right: 1.5rem; /* Espaçamento entre o botão e o texto */
}

.iconButtonLeft:hover {
    color: var(--blue);
}

.iconButtonLeft.checked {
    color: var(--purple); /* Cor quando marcado */
    text-decoration: line-through; /* Riscar o texto */
}

.iconButtonRight {
    background: transparent;
    border: 0;
    color: var(--gray-300);
    cursor: pointer;
    line-height: 0;
    border-radius: 2px;
    margin-left: 1.5rem; /* Coloca o botão no final da linha */
}

.iconButtonRight:hover {
    color: var(--danger);
}


