/* Task.module.css */
.task {
    width: 70%;
    margin: 0 auto;
}


/* Task.module.css */
.pTask {
    position: relative;
    display: grid; 
    grid-template-columns: auto 1fr auto; 
    align-items: center;
    color: var(--gray-100);
    background: var(--gray-500);
    border-radius: 8px;
    padding: 2rem 0.5rem;
    margin-bottom: 1rem;
}

.iconButtonLeft,
.iconButtonRight {
    background: transparent;
    border: 0;
    color: var(--gray-300);
    cursor: pointer;
    line-height: 0;
    border-radius: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.iconButtonLeft:hover {
    color: var(--blue);
}

.iconButtonRight:hover {
    color: var(--danger);
}

 /* .iconButtonLeft.checked {
    color: var(--purple); Cor quando marcado
    text-decoration: line-through; 
}  */


