@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }
}

.areaTask {
  position: absolute;
  top: 150px; 
  left: 0;
  right: 0;
  z-index: 2; 
}

.div {
  display: flex;
  flex: 1;

  justify-content: space-between;
  gap: 0.5rem;

  width: 70%;
  margin: 0 auto;
}

.titleTop {
  display: flex;
  flex: 1;

  justify-content: space-between;
  gap: 0.5rem;

  width: 70%;
  margin: 2rem auto;
}

.titleCount {
  display: flex;
  gap: 0.5rem;
}

.title {
  color: var(--blue);
}

.titleDois {
  color: var(--purple);
}

.pCount {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--gray-700);
  border-radius: 20px;
  background-color: var(--gray-400);
  color: var(--gray-200);
  padding: 0.5rem;
  font-weight: bold; 
  font-size: 1rem; 
  height: 1.5rem; 
}
